:root{
    --cor-primaria: #4a2e0e;
    --cor-secundaria: #1c1c1c;

    --bg-primaria: rgba(29, 28, 28, 0.9);

    --txt-primaria: #f4cfa0;
    --txt-secundaria: #3f6134;
}

body{
    background-image: url(../imgs/1.jpg);
    background-size: 100% 100vh;
    background-position: cover;
    background-repeat: no-repeat;
}

header{
    height: 10vh;
    background-color: var(--bg-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    line-height: 1.5em;
    font-size: 1.2em;
    color: var(--txt-primaria);
    .timer, .rank, .score{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

main{
    display: flex;
    align-items: center;
    height: 80vh;
    gap: 2em;
    flex-direction: column;
    padding: 1em;
    overflow: hidden;
    color: var(--cor-primaria);
    
    .title{
        font-size: 1.5em;
        color: var(--txt-secundaria);
        transition: .5s;
    }
    .subtitle{
        transition: .5s;
    }
    .playBtn{
        cursor: pointer;
        border-radius: 1em;
        padding: 2em;
        text-transform: uppercase;
        background-color: var(--txt-secundaria);
        color: var(--txt-primaria);
        font-size: 1em;
        outline: none;
        border: none;
        transition: .5s;
        &:hover{
            color: var(--txt-secundaria);
            background-color: #A4CB6D;
        }
    }

    .click-text{
        color: green;
        margin-top:3em;
    }

    .clickBtn{
        position: relative;
        margin-top: 4em;
        padding: 5em;
        border-radius: 360px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #B5643A;
        transition: transform 0.1s ease, box-shadow 0.1s ease;
        box-shadow: 0 4px 0 #4a2e0e; 
        &:active{
            transform: translateY(4px);
            box-shadow: 0 0 0 #4a2e0e;
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primaria);
    height: 10vh;
    .click-text{
        color: #a94438;
        text-shadow: 2px 3px 1px #8b2e23;
    }
}

.hide{
    transition: 0.3s;
    opacity: 0;
}